* {
  margin: 0;
  padding: 0;
}
#sakums {
  background-color: #E6C4C4;
  height: 30vh;
  display: flex;
  justify-content: space-between;

}
#virsraksts{
  margin-left: 50px;
  color: white;
  font-size: 120px;
  margin-top: 30px;
}

#moto{
  margin-left: 53px;
  color: white;
  font-size: 60px;
}

li{
   display: inline;
  font-size: 32px;
  color: white;
  margin-right: 200px;
  }
ul{
  margin-top: 15px;
}
#gaisirozais{
 background-color: rgb(255,232,232);
  margin-top: 100px;
  padding-bottom:40px;
  margin-bottom: 400px;
  margin-right: 320px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
}
img{
  margin-top: 40px;
}
#sakums-main{
  background-color: white;
  width: 260px;
  height: 60px;
  margin-right: 750px;
  text-align: center;
  margin-top: 60px;
   font-size: 50px;
  color: rgb(133,102,102);
}
#teksts{
  margin-top: 15px;
  font-size: 40px;
  text-align: center;
  margin-right: 150px;
  color: rgb(133,102,102);

}


#foto{
  margin-right: 30px;
}